body{margin: 0 20px 0 20px;text-align:center;}
.city-container{display:inline-block;margin:20px;padding:20px;font-size:12px;text-align:left;
border-radius: 4px;
box-shadow: 0 4px 10px -3px #c1c1c1, 0 0 0 1px #d5d5d5 inset;
-webkit-box-shadow: 0 4px 10px -3px #c1c1c1, 0 0 0 1px #d5d5d5 inset;
-moz-box-shadow: 0 4px 10px -3px #c1c1c1, 0 0 0 1px #d5d5d5 inset;
transition: all 0.5s;
border:none;
position:relative;
}
.city-container:hover{background-color:Lavender;}
.cities-container{}
.city-remove{background:url('../images/close.png');width:24px;height:24px;cursor:pointer;position:absolute;top:0;right:0;}
.currentcity-container{margin-bottom:30px;}
.currentcity-small{font-size:12px;}
.input-group{margin:0 auto;}
.search-container{padding:0;}
.search-list{list-style:none;
	position:absolute;
	top:32px;
	left:0;
	background-color:White;
	z-index:2;
	border: 0 1px 1px 1px solid Gray;
	box-shadow: 0 4px 10px -3px #c1c1c1, 0 0 0 1px #d5d5d5 inset;
	-webkit-box-shadow: 0 4px 10px -3px #c1c1c1, 0 0 0 1px #d5d5d5 inset;
	-moz-box-shadow: 0 4px 10px -3px #c1c1c1, 0 0 0 1px #d5d5d5 inset;
	text-align:left;
	padding:0;
	width:100%;
}
.search-listItem{
	border-bottom: 1px solid LightGray; 
	padding:5px 10px;
	display:block;
}
.search-listItem:hover, .active{
	background-color:Lavender;
}